@import './reset';
@import 'bourbon';
@import 'neat';

@import 'base/base';

.item-link {
  &:hover, &:active, &:focus, &:visited {
    text-decoration: none;
  }
}

.item-card {
  border: 1px solid black;
  padding: 10%;
  font-size: 2em;
  text-transform: uppercase;

  &.sold {
    background-color: #444444;
    color: #000000;
  }

  &:hover {
    color: #FFFFFF;
    background-color: #000000;
    transition: 0.25s;
  }
}
