@import './reset';
@import 'bourbon';
@import 'neat';

@import 'base/base';

.nav-filler, .nav-bar {
  height: $nav-bar-height;
  background-color: $white;
}

.nav-bar {
  position: fixed;
  width: 100%;
  opacity: 0.8;

  &:hover {
    opacity: 1;
    transition: 0.25s;
  }

  .nav-links {
    width: 100%;
    display: inline-block;

    a {
      display: inline-block;
      border: 2px solid black;
      line-height: 1;
      padding: 15px; // FIXME
      text-align: center;
      transition: 0.25s;

      &:focus {
        color: $white;
        background-color: $black;
        text-decoration: none;
      }

      &:hover, &:active {
        color: $white;
        background-color: $black;
        text-decoration: none;
      }
    }
  }
}
