@import './reset';
@import 'bourbon';
@import 'neat';

@import 'base/base';

.screen-split {
  @include calc(height, "100% - #{$nav-bar-height}");

  .split-navigator, .split-content {
    overflow: scroll
  }

  &.show-nav {
    $navigator-width: 30%;

    .split-navigator, .split-content {
      display: inline-block;
      vertical-align: top;
      height: 100%;
    }

    .split-navigator {
      border-right: 1px solid black;
      width: $navigator-width;
    }

    .split-content {
      width: 100% - $navigator-width;
    }
  }
}
